<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-list-header class="menuHeader">
  Navigation
  </ion-list-header>
    <ion-list class="menuIndent">
      <button menuClose ion-item *ngFor="let p of navPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
 <ion-list-header class="menuHeader">
  Service
     </ion-list-header>
    <ion-list class="menuIndent">
      <button menuClose ion-item *ngFor="let p of servicePages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>